th,
.tickest,
.omzet,
.winst {
  color: white;
  background: #000;
  padding: 10px;
  text-align: center;
}
td {
  padding: 5px;
  text-align: center;
  background: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

tr:nth-of-type(3) td{
  background: gray;
}


table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid black;
}